@import "./Variable.scss";

body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 300;
}

.flex{
    display: flex;
    align-items: center;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    height: inherit;
    padding: 0 2rem;
}

